edge-tts
gTTS
TTS
langid
shutil
# Chatterbox की पुरानी लाइब्रेरीज़ भी रहने दें
resemble-perth
s3tokenizer
omegaconf
pydub
gradio
torch
gradio
edge-tts
librosa
soundfile
safetensors
huggingface_hub
einops
pykakasi
